
@font-face {
    font-family: 'Inter';
    src: url("./Inter/Inter-VariableFontwght.ttf") format("opentype");
}

:root {
    background-color: white;
    --darkpurple: 64, 42, 56;
    
    --dropdefault: drop-shadow(0 0 15px rgba(var(--darkpurple), .15));
    --droplight: drop-shadow(0 0 8px rgba(var(--darkpurple), .15));

    font-family: 'Inter';
    /* width */
    ::-webkit-scrollbar {
    width: 10px;
    }
  
    /* Track */
    ::-webkit-scrollbar-track {
        border-radius: 1rem;
        /* outline: 1px solid rgba(255, 255, 255, .5); */
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        border-radius: 1rem;
        background: rgba(var(--darkpurple), .8);
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: 'Inter';
    max-width: 100vw;
    overflow-x: hidden;
}

