

.home {
    display: flex;
}

.main {
    margin: 1rem 0;
    font-family: 'Inter';
    /* background-color: antiquewhite; */
    height: 100vh;
    padding: 1rem;
    min-width: 100px;


    /* I hate this but IDK how else to do it */
    width: calc(100vw - 300px - 200px); 
}

.title {
    font-size: 1.5rem;
}

.line {
    background-color: black;
    height: 1px;
}

.callwrapper {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.card {
    filter: var(--droplight);
    background-color: white;
    padding: 1rem;
    border-radius: 20px;
    width: auto;
}

.card:hover {
    transition: outline-width .05s linear;
    cursor: pointer;
    outline: red 2px solid;
}

.card h2 {
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

.card p {
    font-size: .8rem;;
}

.card span {
    font-weight: bold;
}

.cardactive {
    /* card is fullscreen */
    width: 100%;
    padding: 2rem 4rem;
}

.cardactive:hover {
    transition: outline-width .05s linear;
    cursor: default;
    outline: none;
}

.bodyactive {
    margin: 1rem 0;
}

.bodyactive h1 {
    font-size: 2rem;
}

.bodyactive p{
    font-size: 1.2rem;
    padding: .5rem 0;
}