
.sidebar {
    background-color: white;
    width: 200px;
    margin: 1rem;
    border-radius: 20px;
    filter: drop-shadow(0 0 15px rgba(var(--darkpurple), .15));
    display: flex;
    flex-direction: column;
    height: 150px;
}

.profile {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagewrapper {
    overflow:hidden;
    position:relative;
    height: 75px;
    width: 75px;
    border-style: solid;
    border-color: limegreen;
    border-radius: 100%;
    margin: 1rem;
    margin-bottom: .2rem;
}

.profile h1 {
    font-size: 1.3rem;
    font-weight: 700;
}
.profile h2 {
    font-size: .9rem;
    font-weight: 500;
}